.song-item {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 550px;
  height: 75px;
  position: relative;
  background-image: linear-gradient(to left, #f2f7f8, #9cd3f0); /* Gradient background */
}

.details {
  display: flexbox;
  width: 300px;
  font-family: Arial, Helvetica, sans-serif;
}

.name {
  font-weight: bold;
  font-size: 18px;
}

.song-item .file-icon {
  flex: 1;
  display: flex;
  position: absolute;
  z-index: 1;
  left: 435px;
}

.song-item .file-icon i {
  position: absolute;
  z-index: 1;
  left: 50px;
}

.song-item .file-icon img,
.song-item .file-icon i {
  max-height: 130px;
  width: auto;
  height: auto;
  border-radius: 10px;
}

.download-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #54c058;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  z-index: 2; /* Ensure the button is on top of the image/icon */
}

.download-button:hover {
  background-color: #16741b; /* Darker shade of green on hover */
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

#signout-button {
  background-color: #d20909c0;
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 10px;
}

#signout-button:hover {
  background-color: #f80505eb;
}


/* Welcome Screen */

.welcome-body {
  background-image: url('images/istockphoto-165503554-612x612.jpg'); /* Replace with the actual path */
  background-size: auto;
  background-repeat: no-repeat;
}

.welcome-screen {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  margin-top: 100px;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to left, #f6f8fb, #ccd3f7);
}

.welcome-screen h4 {
  margin-bottom: 35px;
  font-size: larger;
  font-weight: bolder;
}

.welcome-screen form {
  display: flex;
  flex-direction: column;
}

.email-label {
  margin-left: 34px;
}

.welcome-screen label {
  font-weight: bold;
  margin-bottom: 5px;
}

.welcome-screen input {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.welcome-screen button {
  padding: 10px 15px;
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100px;
}

.sign-up-button {
  margin-right: 10px;
}

.welcome-screen button:hover {
  background-color: #0056b3;
}

.song-item {
  display: flex;
}

/* Media Queries */

/* Media query for screens with a maximum width of 600px (typical for mobile devices) */
@media (max-width: 600px) {
  
  .song-item {
    max-width: 325px;
  }

  ul {
    padding: 0;
  }

  .body {
    overflow-x: hidden;
  }
 
  .song-item .file-icon img {
    /* Reset the styles to their default values or remove properties */
    flex: 1;
    display: flex;
    position: absolute;
    z-index: 1;
    left: -170px;
    top: -43px;
  }

  .song-item .file-icon i {
    /* Reset the styles to their default values or remove properties */
    flex: 1;
    display: flex;
    position: absolute;
    z-index: 1;
    left: -125px;
    top: -30px;
  }

  .song-item .file-icon img,
  .song-item .file-icon i {
    max-height: 75px;
    max-width: 75px;
    border-radius: 10px;
  }

  .description {
    max-width: 200px;
  }

  #image-input {
    margin-top: 20px;
  }

  #song-input {
    margin-bottom: 5px;
  }
 
  /* You can adjust other styles here as needed for smaller screens */
}